.todo--form {
    width: 350px;
    padding: 25px!important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo--form h4 {
    margin-bottom: 15px;
}

.todo--error,
.todo--warning {
    margin: 10px 0 0 0;
    text-align: center;
}

.todo--warning {
    color: yellow;
}

.todo--field {
    max-width: 280px;
    width: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px !important;
}

.todo--field > *{
    max-width: 280px;
    width: 100%;
}