* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
    width: 200px;
    height: 30px;
}

.todo--wrapper {
    min-height: 100vh;
    padding: 15px;
    background-color: #e7e7e7;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.todo--wrapper h1 {
    margin-bottom: 15px;
}

.todo--preloader {
    margin-bottom: 25px;
}

.todo--title {
    position: relative;
    width: 100%;
}

.todo--title > h1 {
    margin: 0;
    text-align: center;
}

.todo--sort {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
}