* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
    width: 200px;
    height: 30px;
}

.todo--wrapper {
    min-height: 100vh;
    padding: 15px;
    background-color: #e7e7e7;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.todo--wrapper h1 {
    margin-bottom: 15px;
}

.todo--preloader {
    margin-bottom: 25px;
}

.todo--error {
    color: red;
    margin-bottom: 25px;
}