.todo--el {
    position: relative;
    width: 350px;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.todo--el p,
.todo--el>h4 {
    margin-bottom: 15px;
    text-align: center;
}

.todo--checkbox,
.todo--delete {
    border-radius: 50% !important;
    min-width: auto !important;
    width: 24px;
    height: 32px;
    cursor: pointer;
}

.todo--info {
    overflow: hidden;
    text-overflow: ellipsis;
}

.todo--row {
    display: flex!important;
    width: calc(100vw - 30px);
}

.todo--row > * {
    display: flex !important;
    align-items: center;
    width: 25%;
}