.todo--el {
    position: relative;
    width: 350px;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.todo--el p,
.todo--el>h4 {
    margin-bottom: 15px;
    text-align: center;
}

.todo--checkbox {
    border-radius: 50% !important;
    width: 24px;
    height: 64px;
    cursor: pointer;
}

.todo--delete {
    border-radius: 50%!important;
    width: 24px;
    height: 64px;
    cursor: pointer;
}